<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css">
</head>
<body>

<footer class="page-footer font-small" style="background-color: white;">

  <!-- Copyright -->
  <div class="footer-copyright py-3 ml-3">© 2020 Copyright
        <div class="float-right mr-3 linkfooter"><a href="">Mentions légales </a>&nbsp;&nbsp;&nbsp;<a href=""> Politique de confidentialité</a></div>

  </div>

</footer>

</body>
</html>